<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fall and Catch - Welcome</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .instruction-panel {
          background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
          padding: 20px;
          border-radius: 10px;
          max-width: 500px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow for depth */
        }
    </style>
</head>
<body>
    <div class="instruction-panel">
        <div class="container">
          <div class="row">
            <div class="col-auto"><h1>Welcome to the Game!</h1>
          </div>
          <div class="row">
            <div class="col-auto"><p>Here are the rules of the game:</p></div>
          </div>
          <div class="row">
            <div class="col-auto">
              <ul>
                <li>The game only lasts for 60 seconds</li>
                <li>Move the boat left or right to catch the items which fall from top to bottom</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-auto"><p>You will get 50 points for the following items:</p></div>
          </div>
          <div class="row justify-content-center">
            <div class="col-3"><img src="/images/p1.png"></div>
            <div class="col-3"><img src="/images/p2.png"></div>
            <div class="col-3"><img src="/images/p3.png"></div>
            <div class="col-3"><img src="/images/p4.png"></div>
          </div>
          <div class="row">
            <div class="col-auto"><p>You will minus 100 points for the following items:</p></div>
          </div>
          <div class="row justify-content-center">
            <div class="col-3"><img src="/images/e1.png"></div>
            <div class="col-3"><img src="/images/e2.png"></div>
          </div>
        </div>
    </div>
    <div class="container button-group">
      <div class="row justify-content-center">
        <div class="col-4"><a href="/game" class="btn btn-primary">Start Game</a></div>
        <div class="col-4"><a href="/leaderboard" class="btn btn-secondary">Leaderboard</a></div>
      </div>
  </div>
</body>
</html>
