<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fall and Catch - Welcome</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="instruction-panel">
        <div class="container">
          <div class="row">
            <div class="col-auto"><h1>Welcome to the Game!</h1>
          </div>
          <div class="row">
            <div class="col-auto"><p>Here are the rules of the game:</p></div>
          </div>
          <div class="row">
            <div class="col-auto">
              <ul>
                <li>The game only lasts for 60 seconds</li>
                <li>Move the catcher left or right by using the arrow keys to catch the items which fall from top to bottom</li>
                <li>Each green ball caught will give you 20 points</li>
                <li>Each red ball caught will deduct 10 points</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="container button-group">
      <div class="row justify-content-center">
        <div class="col-4"><a href="/game" class="btn btn-primary">Start Game</a></div>
        <div class="col-4"><a href="/leaderboard" class="btn btn-secondary">Leaderboard</a></div>
      </div>
  </div>
</body>
</html>
